<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs permission to use your location for turn-by-turn navigation.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs permission to use your location for turn-by-turn navigation.</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.mapsplatform.transportation.delivery.sample.driver</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
</dict>
</plist>
